<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biografía de <%= nombre %></title>
</head>
<body>
    <h1>Hola, soy <%= nombre %></h1>

    <% if (resenia) { %>
        <p><%= resenia %></p>
    <% } else if (mensaje) { %>
        <p><%= mensaje %></p>
    <% } %>
</body>
</html>
